/* Genel Ayarlar */
body {
  background-color: rgba(122, 49, 69, 1);
  margin: 0;
  padding: 0;
  font-family: "Inter Tight", sans-serif;
}

/* Ana bölüm kapsayıcı */
.vegetable-section .container {
  width: 1280px;
  margin: 0 auto;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 52px;
}

/* Başlık bölümü */
.vegetable-section .intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 626px;
}

.vegetable-section .baslik {
  color: rgba(212, 191, 196, 1);
}

.vegetable-section .intro h2 {
  color: #fbfbfb;
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  margin: 0;
}

.vegetable-section .intro p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #fbfbfb;
}

/* Grid */
.vegetable-section .products-grid {
  list-style: none;
  padding: 0;
  margin: 0 auto;

  width: 1080px;
  display: grid;
  grid-template-columns: repeat(3, 344px);
  gap: 24px;
}

/* Kart */
.vegetable-section .product-card {
  width: 344px;
  height: 380px;
  background: #fbfbfb;
  border-radius: 40px;
  padding: 32px;

  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.vegetable-section .product-card h3 {
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 5px 0;
  color: rgba(122, 49, 69, 1);
  z-index: 10;
}

.vegetable-section .product-card .price {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  color: rgba(20, 20, 20, 1);
  z-index: 10;
}

/* Ürün görseli */
.vegetable-section .product-image {
  max-width: 280px;
  max-height: 244px;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-10px);

  object-fit: contain;
}
